{% block head %}
<title>{% if header.title %}{{ header.title }} {% else %} {{ site.title }} {% endif %}</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

{% for meta in page.metadata %}
    {% if meta.name != 'generator' %}
    <meta {% if meta.name %}name="{{ meta.name }}" {% endif %}{% if meta.http_equiv %}http-equiv="{{ meta.http_equiv }}" {% endif %}{% if meta.charset %}charset="{{ meta.charset }}" {% endif %}{% if meta.property %}property="{{ meta.property }}" {% endif %}{% if meta.content %}content="{{ meta.content }}" {% endif %}/>
    {% endif %}
{% endfor %}

{% if header.robots %}
<meta name="robots" content="{{ header.robots }}">
{% endif %}

{% if theme_config.favicon != '' %}
<link rel="icon" href="{{ url('theme://images/' ~ theme_config.favicon, true) }}" />
{% else %}
<link rel="icon" href="{{ url('theme://images/favicon.png', true) }}" />
{% endif %}

{% block stylesheets %}
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic' rel='stylesheet' type='text/css'>
    {% do assets.add('theme://assets/css/main.css', 101) %}
    
{% endblock %}

{% block javascripts %}
    {% do assets.add('theme://assets/js/jquery.min.js', {group:'bottom'}) %}
    {% do assets.add('theme://assets/js/jquery.poptrox.min.js', {group:'bottom'}) %}
    {% do assets.add('theme://assets/js/browser.min.js', {group:'bottom'}) %}
    {% do assets.add('theme://assets/js/breakpoints.min.js', {group:'bottom'}) %}
    {% do assets.add('theme://assets/js/util.js', {group:'bottom'}) %}
    {% do assets.add('theme://assets/js/main.js', {group:'bottom'}) %}

{% endblock %}

{{ assets.css()|raw }}
{{ assets.js()|raw }}
<noscript>
    {% do assets.add('theme://assets/css/noscript.css', {group:'noscript'}) %}
    {{ assets.css('noscript')|raw }}
</noscript>

{% endblock head %}
