{% extends 'partials/base.html.twig' %}

{% block content %}
<div id="wrapper">
    {% include 'partials/header.html.twig' %}

    <div id="main">
        {% if page.header.images|length > 0 %}
        {% for image in page.header.images %}
        <article class="thumb">
            <a href="{{ page.media[image.thumbnail].url }}" class="image">
                <img src="{{ page.media[image.thumbnail].url }}" title="{{ image.title|escape }}" />
            </a>
            <h2>{{ image.title|raw }}</h2>
            <p>{{ image.description|raw }}</p>
        </article>
        {% endfor %}
        {% endif %}
    </div>

    {% include 'partials/footer.html.twig' %}

</div>
{% endblock %}
